body {
    text-align: center;
    background-color: #011F3F;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

#level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    padding: 2rem;
    color: #FEF2BF;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin-top: 6rem;
}

.btn {
    height: 15rem;
    width: 15rem;
    border: 10px solid black;
    border-radius: 20%;
    margin-inline: 2rem;
    margin-block: 0 2rem;
}

.game-over {
    background-color: red;
    opacity: 0.8;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
}

.refresh-button {
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    padding-block: .25em;
    padding-inline: .75em;
    color: #FEF2BF;
    font-size: 1.5rem;
    display: inline-block;
    background: black;
    border: 2px solid #FEF2BF;
    border-radius: 10%;
    box-shadow: 3px 3px 3px #FEF2BF;
}

.undisplayed {
    display: none !important;
}

@media screen and (min-width: 280px) and (max-width: 767px) {
    #level-title {
        font-size: 1.5rem;
    }
    .btn {
        margin-block: 0 .75rem;
        margin-inline: .5rem;
        height: 6.5rem;
        width: 6.5rem;
    }
    .container {
        margin-top: 3rem;
    }
}